<!DOCTYPE html>
<html>
<head>
  <title>Identity robotargeter</title>
  <%= stylesheet_link_tag    "identity_robotargeter/application", media: "all" %>
  <%= javascript_include_tag "identity_robotargeter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
